@use '../../functions' as *;

.title {
  grid-column: 1/-1;
}

.desc {
  grid-column: 1/-1;

  @include desktop {
    column-count: 3;
  }
}

.image-wrap {
  position: relative;
  grid-column: 1/-1;
  overflow: hidden;
  border-radius: 1vw;
  .image {
    position: relative;
    aspect-ratio: 1920/1031;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  @include desktop {
    @include desktop {
      grid-column: 4/-1;
    }
  }
}
