@import '../../_functions';

.contact {
  border-bottom: 2px solid var(--primary-variant);
}

.form-cont {
  grid-column: 1/-1;
}

.title {
  grid-column: 1/-1;
}

.card {
  aspect-ratio: 16/9;
  border-radius: 12px;
  overflow: hidden;
  grid-column: 1/-1;

  @include desktop {
    grid-column: span 6;
  }
}
