@import './_styles/variables';
@import './_styles/reset';
@import './_styles/functions';
@import './_styles/utilities';
@import './_styles/font-style';
@import './_styles/colors';
@import './_styles/layouts';
@import './_styles/spacing';

:root  {
  --nav-height: #{mobile-vw(65px)};
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --input-border: #000;
  @include desktop {
    --nav-height: #{desktop-vw(90px)};
  }
}
