@use '../../functions' as *;

.ceo {
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  aside {
    @include flexbox($alignItems: center, $justifyContent: center);
    border-radius: 1vw;
    grid-column: 1/-1;
    @include mobile {
      order: 1;
      h1 {
        text-align: center;
      }
    }
    @include desktop {
      grid-column: span 6 / span 6;
    }
  }

  .image {
    position: relative;
    aspect-ratio: 110/129;
    width: 100%;
    height: auto;
    grid-column: 1/-1;
    overflow: hidden;
    border-radius: 1vw;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;

      background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(0, 0, 0, 0.2) 39%,
        rgba(0, 0, 0, 0.38)
      );
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
    @include mobile {
      order: 2;
    }
    @include desktop {
      grid-column: span 6 / span 6;
    }
  }
}

.border-cont {
  grid-column: 1/-1;

  @include mobile {
    order: 3;
  }
}
