@import '../../_functions';

.svg-cont {
  @include desktop {
    width: desktop-vw(300px);
  }
  svg,
  circle {
    width: desktop-vw(300px);
    height: desktop-vw(300px);
  }
  circle {
    // fill: #fff;
    // stroke: red;
    // // stroke-dash-array: '0 0 7.8 4.88',;
    // stroke-dasharray: 0 0 7.8 4.88;
    // stroke-width: 1px;
    // fill-opacity: 0;
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-dasharray: 0 0 7.8 4.88;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}
